.heading{
    width: 100%;
    text-align: left;
}

.heading h1{
    display: inline;
}

.heading button{
    float: right;
    border: 1px black solid;
    font-size: 20px;
}

.ol{
    text-align: left;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    color: blue;
    width: 100%;
    line-height: 3;
}

canvas{
    border: double 5px white;
}